## Import Libraries

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

df = pd.read_csv('WalMart_groceries.csv', low_memory=False)

## Analysis of DATA

In [2]:
df.head()

,index,SHIPPING_LOCATION,DEPARTMENT,CATEGORY,SUBCATEGORY,BREADCRUMBS,SKU,PRODUCT_URL,PRODUCT_NAME,BRAND,PRICE_RETAIL,PRICE_CURRENT,PRODUCT_SIZE,PROMOTION,RunDate,tid
0,0,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",110895339,https://www.walmart.com/ip/Marketside-Roasted-...,"Marketside Roasted Red Pepper Hummus, 10 Oz",Marketside,2.67,2.67,10,NaN,2022-09-11 21:20:04,16163804
1,1,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",105455228,https://www.walmart.com/ip/Marketside-Roasted-...,"Marketside Roasted Garlic Hummus, 10 Oz",Marketside,2.67,2.67,10,NaN,2022-09-11 21:20:04,16163805
2,2,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",128642379,https://www.walmart.com/ip/Marketside-Classic-...,"Marketside Classic Hummus, 10 Oz",Marketside,2.67,2.67,10,NaN,2022-09-11 21:20:04,16163806
3,3,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",366126367,https://www.walmart.com/ip/Marketside-Everythi...,"Marketside Everything Hummus, 10 oz",Marketside,2.67,2.67,10,NaN,2022-09-11 21:20:04,16163807
4,4,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",160090316,https://www.walmart.com/ip/Price-s-Jalapeno-Di...,"Price's Jalapeno Dip, 12 Oz.",Price's,3.12,3.12,12,NaN,2022-09-11 21:20:04,16163808

In [3]:
df.describe()

,index,SHIPPING_LOCATION,SKU,PRICE_RETAIL,PRICE_CURRENT,PROMOTION,tid
count,568534.000000,568534.000000,5.685340e+05,568534.000000,568534.000000,0.0,5.685340e+05
mean,284266.500000,57713.149935,2.453284e+08,5.105377,5.079274,NaN,1.644807e+07
std,164121.773309,24113.969156,3.049375e+08,4.824906,4.727971,NaN,1.641218e+05
min,0.000000,6010.000000,8.795550e+05,0.160000,0.160000,NaN,1.616380e+07
25%,142133.250000,33647.000000,1.555602e+07,2.480000,2.480000,NaN,1.630594e+07
50%,284266.500000,63376.000000,5.003978e+07,3.880000,3.880000,NaN,1.644807e+07
75%,426399.750000,77449.000000,4.448820e+08,5.980000,5.980000,NaN,1.659020e+07
max,568533.000000,96797.000000,1.996767e+09,246.870000,246.870000,NaN,1.673234e+07

In [4]:
df.columns

Index(['index', 'SHIPPING_LOCATION', 'DEPARTMENT', 'CATEGORY', 'SUBCATEGORY',
       'BREADCRUMBS', 'SKU', 'PRODUCT_URL', 'PRODUCT_NAME', 'BRAND',
       'PRICE_RETAIL', 'PRICE_CURRENT', 'PRODUCT_SIZE', 'PROMOTION', 'RunDate',
       'tid'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568534 entries, 0 to 568533
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   index              568534 non-null  int64
 1   SHIPPING_LOCATION  568534 non-null  int64
 2   DEPARTMENT         568534 non-null  object
 3   CATEGORY           568534 non-null  object
 4   SUBCATEGORY        361324 non-null  object
 5   BREADCRUMBS        568534 non-null  object
 6   SKU                568534 non-null  int64
 7   PRODUCT_URL        568534 non-null  object
 8   PRODUCT_NAME       568534 non-null  object
 9   BRAND              568507 non-null  object
 10  PRICE_RETAIL       568534 non-null  float64
 11  PRICE_CURRENT      568534 non-null  float64
 12  PRODUCT_SIZE       505709 non-null  object
 13  PROMOTION          0 non-null       float64
 14  RunDate            568534 non-null  object
 15  tid                568534 non-null  int64
dtypes: float64(3), int64(4), object(9)
memory usage: 69.4+ MB

In [6]:
df.shape

(568534, 16)

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.isnull().sum()

index                     0
SHIPPING_LOCATION         0
DEPARTMENT                0
CATEGORY                  0
SUBCATEGORY          207210
BREADCRUMBS               0
SKU                       0
PRODUCT_URL               0
PRODUCT_NAME              0
BRAND                    27
PRICE_RETAIL              0
PRICE_CURRENT             0
PRODUCT_SIZE          62825
PROMOTION            568534
RunDate                   0
tid                       0
dtype: int64

## Data Cleaning and Standardization

In [9]:
# Lowercase all column names
df.columns = df.columns.str.lower()

In [10]:
# Dropping Promotion Column from the

df.drop(columns=['promotion'], inplace=True)

In [11]:
## Fixing the column Datatype, removing String value and calculating total_price


# Clean product_size: Remove commas and strip spaces
df['product_size'] = df['product_size'].str.replace(',', '').str.strip()

# Convert product_size to float, handle errors if any
df['product_size'] = pd.to_numeric(df['product_size'], errors='coerce')

# Handle NaN values (e.g., replace with 0 or drop rows)
df['product_size'] = df['product_size'].fillna(0).astype(int)

# Calculate the total_price column
df['total_price'] = df['price_current'] * df['product_size']

print(df)

         index  shipping_location department               category  \
0            0              79936       Deli  Hummus, Dips, & Salsa
1            1              79936       Deli  Hummus, Dips, & Salsa
2            2              79936       Deli  Hummus, Dips, & Salsa
3            3              79936       Deli  Hummus, Dips, & Salsa
4            4              79936       Deli  Hummus, Dips, & Salsa
...        ...                ...        ...                    ...
568529  568529              70072    Alcohol                   Wine
568530  568530              70072    Alcohol                   Wine
568531  568531              70072    Alcohol                   Wine
568532  568532              70072    Alcohol                   Wine
568533  568533              70072    Alcohol                   Wine

       subcategory                 breadcrumbs        sku  \
0              NaN  Deli/Hummus, Dips, & Salsa  110895339
1              NaN  Deli/Hummus, Dips, & Salsa  105455228
2              NaN  Deli/Hummus, Dips, & Salsa  128642379
3              NaN  Deli/Hummus, Dips, & Salsa  366126367
4              NaN  Deli/Hummus, Dips, & Salsa  160090316
...            ...                         ...        ...
568529  White Wine                Alcohol/Wine  593600139
568530  White Wine                Alcohol/Wine  333403243
568531  White Wine                Alcohol/Wine  526588325
568532  White Wine                Alcohol/Wine  286992782
568533  White Wine                Alcohol/Wine  160015930

                                              product_url  \
0       https://www.walmart.com/ip/Marketside-Roasted-...
1       https://www.walmart.com/ip/Marketside-Roasted-...
2       https://www.walmart.com/ip/Marketside-Classic-...
3       https://www.walmart.com/ip/Marketside-Everythi...
4       https://www.walmart.com/ip/Price-s-Jalapeno-Di...
...                                                   ...
568529  https://www.walmart.com/ip/Farm-Fresh-Blueberr...
568530  https://www.walmart.com/ip/Farm-Fresh-Peach-Mo...
568531  https://www.walmart.com/ip/Farm-Fresh-Raspberr...
568532  https://www.walmart.com/ip/Farm-Fresh-Mango-Mo...
568533  https://www.walmart.com/ip/Ole-Orleans-Heritag...

                                       product_name                    brand  \
0       Marketside Roasted Red Pepper Hummus, 10 Oz               Marketside
1           Marketside Roasted Garlic Hummus, 10 Oz               Marketside
2                  Marketside Classic Hummus, 10 Oz               Marketside
3               Marketside Everything Hummus, 10 oz               Marketside
4                      Price's Jalapeno Dip, 12 Oz.                  Price's
...                                             ...                      ...
568529           Farm Fresh Blueberry Moscato 750ml  Farm Fresh Wine Company
568530              Farm Fresh Peach Moscato 750 Ml  Farm Fresh Wine Company
568531           Farm Fresh Raspberry Moscato 750ml  Farm Fresh Wine Company
568532               Farm Fresh Mango Moscato 750ml  Farm Fresh Wine Company
568533          Ole Orleans Heritage Riesling 750ml              Ole Orleans

        price_retail  price_current  product_size              rundate  \
0               2.67           2.67            10  2022-09-11 21:20:04
1               2.67           2.67            10  2022-09-11 21:20:04
2               2.67           2.67            10  2022-09-11 21:20:04
3               2.67           2.67            10  2022-09-11 21:20:04
4               3.12           3.12            12  2022-09-11 21:20:04
...              ...            ...           ...                  ...
568529          9.98           9.98           750  2022-09-11 21:20:04
568530          9.98           9.98           750  2022-09-11 21:20:04
568531          9.98           9.98           750  2022-09-11 21:20:04
568532          9.98           9.98           750  2022-09-11 21:20:04
568533         18.98          18.98           750  2022-09-11 21:20:04

             tid  total_price
0       16163804        26.70
1       16163805        26.70
2       16163806        26.70
3       16163807        26.70
4       16163808        37.44
...          ...          ...
568529  16732333      7485.00
568530  16732334      7485.00
568531  16732335      7485.00
568532  16732336      7485.00
568533  16732337     14235.00

[568534 rows x 16 columns]

In [12]:
df.head()

,index,shipping_location,department,category,subcategory,breadcrumbs,sku,product_url,product_name,brand,price_retail,price_current,product_size,rundate,tid,total_price
0,0,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",110895339,https://www.walmart.com/ip/Marketside-Roasted-...,"Marketside Roasted Red Pepper Hummus, 10 Oz",Marketside,2.67,2.67,10,2022-09-11 21:20:04,16163804,26.70
1,1,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",105455228,https://www.walmart.com/ip/Marketside-Roasted-...,"Marketside Roasted Garlic Hummus, 10 Oz",Marketside,2.67,2.67,10,2022-09-11 21:20:04,16163805,26.70
2,2,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",128642379,https://www.walmart.com/ip/Marketside-Classic-...,"Marketside Classic Hummus, 10 Oz",Marketside,2.67,2.67,10,2022-09-11 21:20:04,16163806,26.70
3,3,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",366126367,https://www.walmart.com/ip/Marketside-Everythi...,"Marketside Everything Hummus, 10 oz",Marketside,2.67,2.67,10,2022-09-11 21:20:04,16163807,26.70
4,4,79936,Deli,"Hummus, Dips, & Salsa",NaN,"Deli/Hummus, Dips, & Salsa",160090316,https://www.walmart.com/ip/Price-s-Jalapeno-Di...,"Price's Jalapeno Dip, 12 Oz.",Price's,3.12,3.12,12,2022-09-11 21:20:04,16163808,37.44

In [13]:
df.columns

Index(['index', 'shipping_location', 'department', 'category', 'subcategory',
       'breadcrumbs', 'sku', 'product_url', 'product_name', 'brand',
       'price_retail', 'price_current', 'product_size', 'rundate', 'tid',
       'total_price'],
      dtype='object')

## Exporting the cleaned .csv

In [14]:
df.to_csv('walmart_cleaned.csv', index=False)

## Connecting to SQL

In [15]:
engine_sql = create_engine('mysql+pymysql://root:Cosmos.90@localhost:3306/WalMart')

In [17]:
df.to_sql(name='store', con=engine_sql, if_exists='replace', index=False)

568534

## --- END ---